<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>{{book.title}} Book Information</h1>
<h2>Book Author:{{book.author}}</h2>
<h2>Book Pages:{{book.pages}}</h2>
<h2>Book Price:{{book.price}}</h2>
<a href="/update/{{book.id}}" class="btn btn-warning">Update Book Information</a>
<a href="/delete/{{book.id}}" class="btn btn-danger">Delete Book Information</a>

</body>
</html>